streamlit==1.33.0
pdfplumber==0.11.0
PyPDF2==3.0.1
PyMuPDF==1.23.22
Pillow==10.3.0
pytesseract==0.3.10
opencv-python-headless==4.9.0.80
numpy==1.26.4
pandas==2.2.1
beautifulsoup4==4.12.3
langchain==0.1.16
langchain-huggingface==0.0.1
langchain-community==0.0.34
langchain-groq==0.1.2
sentence-transformers==2.6.1
pymilvus==2.4.1
pymongo==4.7.2
